@model Convidado
@{
    ViewData["Title"] = "Cadastro ";
}
<html>
<body>
  <div id="area">
    <form id="formulario" method="POST">
      <fieldset>
        <legend>Cadastre-se na Festa</legend><br>
        <!-- nome -->
        <p> 
            <label>Nome:</label>
            <input class="campo_nome" asp-for="Nome"><br>
        </p>
        <!-- idade -->
        <p>
            <label>Idade:</label>
            <input class="campo_idade" asp-for="Idade"><br>
        </p>
        <!-- telefone -->
        <p>
            <label>Telefone:</label>
            <input class="campo_telefone" asp-for="Telefone"><br>
        </p>
        
        <!-- confirmar presença -->
        <!-- https://pt.stackoverflow.com/questions/57342/como-usar-o-html-radiobutton-como-enviar-a-op%C3%A7%C3%A3o-seleciona-para-o-controller -->
            <p>
                <label>Confirmar: </label>
                <label class="campo_confirma">
                &nbsp;&nbsp;&nbsp;&nbsp;Sim: <input type="radio" asp-for="ConfirmaPresenca" value="true">
                <!-- @Html.RadioButton("ConfirmaPresenca","sim", true) -->
                
                <label class="campo_confirma">
                Não: <input type="radio" asp-for="ConfirmaPresenca" value="false">
                <!-- @Html.RadioButton("ConfirmaPresenca","nao", false) -->
                </label>
                </label>
                <br>
            </p>
            <!-- botão cadastrar -->
            <p>
                <input class="btn_submit" type="submit" value="Cadastrar">
            </p>
      </fieldset>
    </form>
  </div>
</body>
</html>