@model Convidado
<html>
<body>
  <div id="area">
    <form id="formulario" method="POST">
      <fieldset>
        <legend>Cadastre-se na Festa</legend><br>
        <!-- nome -->
        <p> 
            <label asp-for="Nome">Nome:</label>
            <input class="campo_nome" asp-for="Nome"><br>
        </p>
        <!-- idade -->
        <p>
            <label asp-for="Idade">Idade:</label>
            <input class="campo_idade" asp-for="Idade"><br>
        </p>
        <!-- telefone -->
        <p>
            <label asp-for="Telefone">Telefone:</label>
            <input class="campo_telefone" asp-for="Telefone"><br>
        </p>
        
        <!-- confirmar presença -->
            <p>
                <label>Confirmar:</label>
                <label class="campo_confirma" asp-for="ConfirmaPresenca">
                Sim: <input type="radio" name="confirmaPresenca_Radio" id="sim" value="1">
                <!-- @Html.RadioButton("ConfirmaPresenca","sim", true) --> 
                <!-- https://pt.stackoverflow.com/questions/57342/como-usar-o-html-radiobutton-como-enviar-a-op%C3%A7%C3%A3o-seleciona-para-o-controller -->
                <label class="campo_confirma" asp-for="ConfirmaPresenca">
                Não: <input type="radio" name="confirmaPresenca_Radio" id="nao" value="2">
                <!-- @Html.RadioButton("ConfirmaPresenca","nao", false) -->
                </label>
                </label>
                <br>
            </p>
            <!-- botão cadastrar -->
            <p>
                <input class="btn_submit" type="submit" value="Cadastrar">
            </p>
      </fieldset>
    </form>
  </div>
</body>
</html>