@{
    ViewData["Title"] = "Conclusão ";
}
<h2>WOW Cadastro Realizado Com Sucesso WOW</h2>
<p><a asp-action="Cadastro">Realizar Novo Cadastro</a></p>
<p><a asp-action="ListagemConvidados">Ir Para Lista de Convidados</a></p>