@{
    ViewData["Title"] = "Erro ";
}

<h2>Falha ao Cadastrar, Tente Novamente</h2>
<p><a asp-action="Cadastro">Realizar Novo Cadastro</a></p>
<p><a asp-action="ListagemConvidados">Ir Para Listagem</a></p>