@{
    ViewData["Title"] = "Home Festa!";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Bem Vindo à Festa de Arromba!!</h1>
        <br>
        <br>
    </div>
 <p>Lorem ipsum dolor sit amet consectetur adipiscing elit interdum, 
     rutrum congue odio ante risus nisl rhoncus, in finibus felis ridiculus 
     elementum justo integer. Donec netus pretium et neque a varius iaculis primis, 
     lectus vitae ante platea dignissim fames. Venenatis netus phasellus ad donec erat 
     quisque arcu, dictum id neque praesent accumsan fermentum ornare dis, conubia 
     turpis scelerisque ipsum ante hendrerit. Tellus eleifend sodales primis senectus 
     varius litora lectus facilisis cras finibus, pretium nibh purus luctus laoreet blandit 
     aptent vivamus lacinia. Nisi non conubia ante est orci facilisis vivamus, varius at
     interdum cras libero proin accumsan egestas, molestie eleifend dignissim blandit feugiat 
     taciti. Lacus sagittis dolor netus inceptos habitasse finibus pretium mollis amet, convallis 
     blandit est mi taciti lobortis ligula laoreet nostra, non felis senectus potenti egestas nam enim 
     dui.
 </p>
 <br>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit interdum, 
     rutrum congue odio ante risus nisl rhoncus, in finibus felis ridiculus 
     elementum justo integer. Donec netus pretium et neque a varius iaculis primis, 
     lectus vitae ante platea dignissim fames. Venenatis netus phasellus ad donec erat 
     quisque arcu, dictum id neque praesent accumsan fermentum ornare dis, conubia 
     turpis scelerisque ipsum ante hendrerit. Tellus eleifend sodales primis senectus 
     varius litora lectus facilisis cras finibus, pretium nibh purus luctus laoreet blandit 
     aptent vivamus lacinia. Nisi non conubia ante est orci facilisis vivamus, varius at
     interdum cras libero proin accumsan egestas, molestie eleifend dignissim blandit feugiat 
     taciti. Lacus sagittis dolor netus inceptos habitasse finibus pretium mollis amet, convallis 
     blandit est mi taciti lobortis ligula laoreet nostra, non felis senectus potenti egestas nam enim 
     dui.
 </p>
</body>

