@model List<Convidado>
@{
    ViewData["Title"] = "Lista ";
}
<h2> Lista dos Convidados Cadastrados </h2>
<table>
   <thead>
       <tr>
           <th>Nome &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Idade &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Telefone &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>Estará Na Festa</th>
       </tr>
   </thead>
   <tbody>
       @foreach(Convidado c in Model)
       {
       <tr>
            <td>@c.Nome &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@c.Idade &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@c.Telefone &nbsp;&nbsp;&nbsp;&nbsp;</td><br>
            <td>@c.ConfirmaPresenca</td><br>
       </tr>
       }
   </tbody>
</table>       
<a asp-action="Cadastro">Cadastrar Novo</a>