@model List<Convidado>

<h2> Lista dos Convidados Cadastrados </h2>
<table>
   <thead>
       <tr>
           <th>Nome</th>
           <th>Idade</th>
           <th>Telefone</th>
           <th>Confirção</th>
       </tr>
   </thead>
   <tbody>
       @foreach(Convidado c in Model)
       {
       <tr>
            <p>
                <td>@c.Nome</td>
            </p>
            <br>
            <p>
                <td>@c.Idade</td>
            </p>
            <br>
            <p>
                <td>@c.Telefone</td>
            </p>
            <br>
            <p>
                <td>@c.ConfirmaPresenca</td>
            </p>
            <br>
       </tr>
       }
       <a asp-action="Cadastro">Cadastrar Novo</a>
   </tbody>
</table>